		.grid-item{
			width:170px;
			padding-left:5px;
			padding-right:5px;
		}
		.grid-container {
						margin-left:100px;
						margin-right:100px;
						vertical-align:center;
 						 display: grid;
  						grid-template-columns: 200px 200px 200px;
  						padding-right:2px; 
						}


	header{
		text-align: center;
	}
