
@media (min-width: 700px) {
  .grid {
    grid-template-areas:
      'chicken'
      'beef'
      'sushi';
  }
}

		.grid-item{
			width:170px;
			padding-left:5px;
			padding-right:5px;
		}
		.grid-container {
						width:1280px;
						position:relative;
						top:100px;left:auto;
						margin-left:100px;
						margin-right:100px;
						vertical-align:center;
 						 display: grid;
						grid-template-columns: repeat(2,2fr);

  						padding-right:2px; 
						}

#sushi{
	display:grid;
	grid-row: 1 / -1;
}

.righter{
	position:relative;top:0;float: right;border-style:solid;border-color:black;
}


	header{
		text-align: center;
	}
