body{
	font-family: Arial;
	width:900px;
	margin-left:30px;
}



div{
	display:inline;
	border:solid;
	border-color: black;
}

h1{
	position:relative;top:0px;left:50%;
	font-family: Times;
}

#constrainer{
	width:100px;
}

#container
{
	position:absolute;margin:100px;width:1900px;height:900px;
}
#chicken
{
	position:absolute;left:0%;top:0px;width:25%;height:400px;float right;word-break:break-all;
}

#beef
{
	position:absolute;left:33%;top:0px;width:25%;height:400px;float: right;word-break:break-all;
}

#sushi
{
	position:absolute;left:60%;top:0px;width:25%;height:400px;float: right;word-break:break-all;
}